<ion-header>
  <ion-navbar>
    <ion-title>List</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <form #orderForm="ngForm" (ngSubmit)="submitOrder(orderForm)">
    <ion-list>
      <ion-item *ngFor="let item of groups">
        <button ion-button (click)="item['selected'] = !item['selected']; $event.preventDefault();">{{ item.group }}</button>
        <div [class.hidden]="!item['selected']">
          <ion-item *ngFor="let product of item.products">
            <input [name]="product.number" class="amount" type="number" min="0" max="99" value="0" ngModel>
            {{ product.name }}
          </ion-item>
        </div>
      </ion-item>
    </ion-list>
    <input type="text" name="po" (ngModel)="po" placeholder="PO (optional)">
    <input type="text" name="notes" (ngModel)="notes" placeholder="Notes (optional)">
    <input ion-button type="submit" value="Submit Order" />
  </form>
</ion-content>
